body{
	background-image: url("img.jpg");
	font-family: arial;
	font-size: 20px;
}

header{
	background-color:white;
	margin-top:30px;
	border-style: dotted;
	border-radius: 10px 10px 10px 10px;
	width:800px;
}

#contenedorr{
	margin-top:100px;
	background-color: white;
	width:800px; 
	height:650px;
	border-radius: 20px 20px 20px 20px;
	border-style: dotted;
}

#text{
	margin-right:350px;
}
#titulo{
}
#select{
	border-radius: 10px 10px 10px 10px;
}

#id{
	border-radius: 10px 10px 10px 10px;

}

#space{
	border-radius: 10px 10px 10px 10px;
}

#Spacen{
	border-radius: 10px 10px 10px 10px;
}

#sspace{
	border-radius: 10px 10px 10px 10px;
}


#ape{
	border-radius: 10px 10px 10px 10px;
}


#sa{
	border-radius: 10px 10px 10px 10px;
}

#slect{
	border-radius: 10px 10px 10px 10px;
}

#dir{
	border-radius: 10px 10px 10px 10px;
}

#mail{
	border-radius: 10px 10px 10px 10px;
}

#user{
	border-radius: 10px 10px 10px 10px;
}
