body{
	background-image: url("img.jpg");
	font-family: arial;
	font-size: 20px;
}

header{
	background-color:white;
	margin-top:60px;
	border-radius: 10px 10px 10px 10px;
	width:580px;
	font-size:32px;
	margin-right:25px;
	border-style: dashed;
}

#contenedor{
	background-color: white;
	width:580px;
	height:450px;
	margin-top: 40px;
	margin-right: 20px;
	border-radius: 9px 9px 9px 9px;
	border-style: dashed;
	text-align-last:left;
	transition:.60s;
}

#text{
	margin-top: 40px;
	font-size:24px;
	color:black;
	margin-left:50px; 
}

#titulo{
	margin-right: 15px;
}

#form-control{
	border-radius: 9px 9px 9px 9px;
	font-size: 16px;
	height: 30px;
}

#Spacen{
	font-size:16px;
	border-radius: 9px 9px 9px 9px;
}

#question{
	font-size:16px;
	border-radius: 9px 9px 9px 9px;
	height: 30px;
}

#ans{
	font-size: 16px;
	border-radius: 9px 9px 9px 9px;
	width: 380px;
	height: 30px;
	border-style: double;
}

#buton{
	font-size: 22px;
	background-color: #00B010;
	color:white;
	border-radius: 9px 9px 9px 9px;
	margin-left: 195px;
	cursor: pointer;
	transition:.60s;
	border-style:dotted;
	padding: 5px 5px;
	-webkit-border-radius: 25px;
   	-moz-border-radius: 25px;
 	border: 3px dashed; 
}

#boton{
	font-size: 24px;
	background-color: #00B010;
	color:white;
	border-radius: 9px 9px 9px 9px;
	margin-left:400px; 
	cursor: pointer;
	transition:.60s;
	border-style:dotted;
	padding: 5px 5px;
	-webkit-border-radius: 25px;
   	-moz-border-radius: 25px;
 	border: 3px dashed; 
}