td{
	border: #008E89 9px solid;
	border-radius: 4px 4px 4px 4px
}

th{
	border:  #008E89 9px solid;
	border-radius: 4px 4px 4px 4px;
}

a{
	text-decoration: none;
    padding: 5px;
	color: #ffffff;
    background-color: #1883ba;
    border-radius: 6px;
    border-radius: 6px;
    border: 2px solid #0016b0;
    margin:10px;

}

header{
	color:white;
	background-color: #008E89;
	border-radius: 4px 4px 4px 4px;
	font-size: 18px;
	width:1440px;
	font-weight: bold;
	text-align: center;
	font-size: 24px;

}

h2{
	text-align:center;
}

select{
	border-radius: 10px 10px 10px 10px;	
}

#text{
	margin:20px;
	text-align-last:left; 

}

#ans{
	width: 250px;
	border-radius: 10px 10px 10px 10px;		
}

#space{
	margin-right: 10px;
	border-radius: 10px 10px 10px 10px;

}

#update{
	background-color: #008E89;
	width:750px;
	height:540px;
	border-radius: 9px;
	margin:10px;
}

#text{
	margin:40px;
	text-align-last:left;
}

#toxt{
	margin:40px;
	text-align-last:left;
}
h2{
	color:white;
}

#space{
	border-radius: 10px 10px 10px 10px;
}

#spacen{
	width:210px;
	border-radius: 10px 10px 10px 10px;
}

#boton{
	text-decoration: none;
    padding: 5px;
	color: #ffffff;
    background-color: #1883ba;
    border-radius: 6px;
    border-radius: 6px;
    border: 2px solid #0016b0;
}

#new{
	background-color: #008E89;
	width:750px;
	height:530px;
	border-radius: 9px;
	margin:10px;
}

#reg{	
	text-decoration: none;
    padding: 5px;
	color: #ffffff;
    background-color: #1883ba;
    border-radius: 6px;
    border-radius: 6px;
    border: 2px solid #0016b0;
    margin-left:300px;
}

#record{
	text-decoration: none;
    padding: 5px;
	color: #ffffff;
    background-color: #1883ba;
    border-radius: 6px;
    border-radius: 6px;
    border: 2px solid #0016b0;
    margin-left:10px;	
}