body{
	background-image: url("img.jpg");
	font-family: arial;
	font-size:28px;
}

#contenedor{
	margin-top:100px;
	background-color: white;
	width:1200px; 
	height:650px;
	border-radius: 20px 20px 20px 20px;
 	border: 3px dashed;
 	transition:.60s;
 	border-style: dashed;
}

#contenido{
	margin-right: 30px;
	margin-top: 80px;
}

#text{
	margin-left:400px;
	margin-top: 100px; 
	background-color:#C7CBCB;
}

#doc{
	font-size:24px;
	margin-left: -10px;
}


#form-control{
	font-size:18px;
	border-radius: 9px 9px 9px 9px;
	
}

#NO{
	font-size:24px;	
	margin-left:180px;
}

#user{
	border-radius: 9px 9px 9px 9px;
	font-size: 18px;
}

#pass1{
	font-size: 24px;
	margin-left:245px;
}

#pass{
	border-radius: 9px 9px 9px 9px;
	font-size: 18px;
}

#ing{
	color:white;
	font-size: 20px;
	border-radius: 9px 9px 9px 9px;
	margin-left: 220px;
	background-color: #00B010; 
	cursor: pointer;
	transition:.60s;
	border-style:dotted;
	padding: 5px 5px;
	-webkit-border-radius: 25px;
   	-moz-border-radius: 25px;
 	border: 3px dashed; 
}

#reg{
	font-size: 30px;
	border-radius: 9px 9px 9px 9px;
	margin-left: 320px;
	cursor: pointer;
	transition:.60s;
	border-style:dotted;
	padding: 5px 5px;
	-webkit-border-radius: 25px;
   	-moz-border-radius: 25px;
 	border: 3px dashed; 
}

#olv{
	font-size: 22px;
	border-radius: 9px 9px 9px 9px;
	margin-left: 10px;
	cursor: pointer;
	transition:.60s;
	border-style:dotted;
	padding: 5px 5px;
	-webkit-border-radius: 25px;
   	-moz-border-radius: 25px;
 	border: 3px dashed; 
}