* {
  margin: 0;
  padding: 0;
  font-family: Helvetica Neue;
}

#title {
  width: 100%;
}

#header {
  text-align: center;
  font-size: 2.5em;
  color: #9a9a9a;
}

#subheader {
  text-align: center;
  color: #cecece;
  margin-top: 5px;
  font-size: 1.3em;
}

header {
  margin: 5px auto;
  max-width: 70%;
  background-color: red;
}

.container {
  width: 25%;
  height: 100%;
  float: left;
  transition: height 0.4s;
}

#one {
  background-color: rgb(208, 101, 3);
}

#two {
  background-color: rgb(233, 147, 26);
}

#three {
  background-color: rgb(22, 145, 190);
}

#four {
  background-color: rgb(22, 107, 162);
}

.icon {
  display: block;
  margin: 5px auto;
  background-color: rgba(255, 255, 255, 0.15);
  width: 15%;
  padding: 10px;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 30px rgba(255, 255, 255, 0);
  transition: box-shadow 0.4s;
}

.text {
  font-size: 1em;
  color: white;
  text-align: center;
  opacity: 0.6;
  transition: padding-top 0.4s;
}

.container:hover {
  height: 101%;
}

.container:hover .text {
  padding-top: 10px;
  opacity: 1;
}

.container:hover .icon {
  box-shadow: 0px 0px 0px 0px rgba(255, 255, 255, 0.6);
}

@media screen and (max-width: 600px) {
  header {
    max-width: 100%;
  }

  .icon {
    width: 30%;
  }
}