body{
	background-image: url("img.jpg");
	font-family: arial;
	font-size: 20px;
}

header{
	background-color:white;
	margin-top:60px;
	border-radius: 10px 10px 10px 10px;
	width:580px;
	font-size:32px;
	margin-right:25px;
	border-style: dashed;
}

#contenedor{
	background-color: white;
	width:580px;
	height:390px;
	margin-top: 40px;
	margin-right: 20px;
	border-radius: 9px 9px 9px 9px;
	border-style: dashed;
	text-align-last:left;
}

#text{
	margin-top: 60px;
	font-size:24px;
	color:black;
	margin-left:50px; 
}

#Spacen{
	font-size:18px;
	border-radius: 9px 9px 9px 9px;
	border-style: double;
}

#buton{
	font-size: 22px;
	background-color: #00B010;
	color:white;
	border-radius: 9px 9px 9px 9px;
	margin-right: 95px;
}

#boton{
	font-size: 22px;
	background-color: #00B010;
	color:white;
	border-radius: 9px 9px 9px 9px;
	margin-left:400px; 
}